/* FONT */

@font-face {
        font-family:"gobold";
        src: url("/fonts/gobold_thin-webfont.woff2") format("woff2"),
               url("/fonts/gobold_thin-webfont.woff") format("woff");
       }
       
@font-face {
        font-family:"malgun";
        src: url('/fonts/malgun.ttf');
               
       }

/* RESET */
*{
        padding: 0;
        margin: 0;
}   


:root{
    box-sizing: border-box;  

    font-family:"malgun" ;
}



body{
        width: 100%;
}

/* GENERAL */

button:hover{
        cursor:pointer;
}

.button__violet{
        color:white;
        background-color: #e6007e;
        height: 40px;
        width: 200px;
        border-radius: 50px;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
}

.button__white{
        color:#e6007e;
        background-color: #ffffff;
        height: 40px;
        width: 200px;
        border-radius: 50px;
        text-transform: uppercase;
        font-weight: 700;
        border: none;
}

p span{
        color: #e6007e;
}

/* BARRE DE NAVIGATION */

nav{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        height: 80px;
        width: 100%;
}

        nav img{
                margin: 0px 50px;
                height: 40px;
                display: flex;
                justify-content: center;
                flex-flow: row wrap;
        }

        nav span{
                font-family: "gobold";
                font-size: 15px;
                color: #7b8fb3;
                
        }



        .nav__logo{
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                justify-content: center;
        }

        .nav__menu{
                display: flex;
                justify-content: flex-end;
                flex-flow: row wrap;
                align-items: center;
        }

                .nav__menu img{
                        height: 30px;
                }

        #loupe{
                height: 20px;
        }




        .banniere img{
                width: 100%;
                max-width: 1900px;
                height: auto;
        }

/* HEADER */

header{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        
}

        header img{
                width: 100%;;
        }

        .header__banniere{
        display: flex;
        justify-content: center;
        width: 100%;
        }


/* CONTENU PRINCIPAL */

main{
        display: flex;
        justify-content: center;
        margin: auto;
        flex-wrap: wrap;
}

        .main__tags img{
                padding-right: 10px;     
        }

        .main__tags h2{
                margin-bottom: 20px;  
        }

/* ARTICLE */

.event__entete{
        border-radius: 0px 8px 8px 0px;
        border: 1px solid #90909050;
        border-left: 5px solid #016483;
        padding: 25px;
        margin: 30px 0px;
        width: 700px;
        font-size: 14px;
}

        .event__entete h2{
                color: #194161;
                font-weight: 700;
        }

        .event__entete ul{
        color:#194161;
        text-transform: uppercase;
        display: flex;
        flex-wrap: wrap;
        flex-direction:row;
        }

        .event__entete li{
                line-height: 35px;
                width: 350px;
        }

        .event__entete li span{
                line-height: 40px;
                width: 340px;
                font-size: 12px;        
        }

        .event__entete--tags{
        padding-bottom: 30px;
        }



.event__future_stitre{
         display: flex;
         flex-flow: row wrap;
         justify-content: space-between;
         margin: 20px 0;
         align-items: center;
}

.event__future img{
padding-right: 10px;
}


.event__text{
        text-align: left;
        width: 740px;
        margin-bottom: 30px;
}

        .event__text p{
                margin: 30px 0;
        }

        .event__text img{
                margin-top: 30px;
                
                max-width: 100%;
                height: auto;
        }


.event__footer{
        width: 100%;
}

.event__footer--inscription{
        margin-top: 30px;
        margin-bottom: 30px;
}

        .event__footer--inscription em{
                color: #e6007e;
        }
        .event__footer--inscription p{
                margin-top: 30px;
                margin-bottom: 30px;
        }


.event__footer--inscription--card{
        background-image: url('/images/Fond_rose.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;            
        width: 90%;
        max-width: 700px;              
        color: white;
        display: flex;
        padding: 30px;
        
}

        .event__footer--inscription--card h3{
                text-transform: uppercase;

        }

        



        .event__footer--inscription--card--text{
                padding-left: 40px;
               
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                max-width: 700px;
                z-index: 2;
              
                
        }



.event__footer--socials{
       display: flex;
       flex-flow: row wrap;
       justify-content: flex-start;
       color: #194161;
       font-weight: bold;
       text-transform: uppercase;
       align-content: center;
       margin: 30px 0;
       flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
}

.event__footer--icones{
        margin-left: 30px;
}


.event__footer--map img{
        max-width: 100%;
        height: auto;
}

/* EVENEMENT A VENIR & HUBS ET ENJEUX */

aside{
        margin: 25px;
        display: flex;
        flex-flow: column wrap;
}

.event__aside{
        width: 300px;
        height: 50px;
        border: 1px solid #90909050;
        margin-bottom: 15px;
        padding: 10px;
        border-radius: 0px 6px 6px 0px;
}



        .event__aside h5 {
                color:#194161;
                font-weight: 800;
                font-size: 16px;
        }

        .event__aside p {
                line-height: 2.5;
        }

        .event__aside p strong {
                color:#194161;
                font-weight: 800;
                font-size: 16px;
        }


/* EVENEMENTS A VENIR  */

#event1{
        border-left: 5px solid #016586;
}

#event2{
        border-left: 5px solid #799dce;
}
#event3{
        border-left: 5px solid #751343;
}
#event4{
        border-left: 5px solid #0269b2;
}
#event5{
        border-left: 5px solid #799dce;
}


/* HUBS ET ENJEUX */
.tag{
        border-radius: 3px;
        color: #ffffff;
        padding: 3px;
        text-align: center;
        margin: 10px 0;
}

.Optics{
        background-color: #016483;
        width: 150px;
}

.Data{
        background-color: #7d97ce;
        width: 150px;  
}

.Cyber{
        background-color: #3b92d1;
        width: 150px;   
}

.DigitalEng{
        background-color: #0a4383;
        width: 150px;   
}

.DigitalInf{
        background-color: #0064ae;
        width: 200px; 
}

.Open{
        background-color: #317e9c;
        width: 100px; 
}

.Territoires{
        background-color: #730c41;
        width: 80px; 
}

.Societe{
        background-color: #ca89a1;
        width: 80px;  
}

.Indus{
        background-color: #9c486a;
        width: 150px; 
}

/* FOOTER */

footer{
        width: 100%;
        height: 250px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        
        background-color:#26272b;
        color:white;
        align-items: center;
        column-gap: 50px;
}





.footer__newsletter{
       
        align-items:end;
        justify-self: end;
        display: flex;

}

.footer__newsletter input{
        
        border:none;
        border-bottom: 2px solid #e6007e;
        background-color: transparent;
        width: 250px;
        color:white;
        margin-left: 40px;
        line-height: 3.5;

}

.footer__socials{
      
        margin: 20px 20px;
        justify-self: start;
        display: flex;
        align-items: center;     
       
        
}
        .footer__socials img{
                margin-left: 20px;
                height: 50px;
        }

.footer__copyright{
               justify-self: end;
      
        
}
        .footer__copyright span{
        color:#138fb2;
        }

.footer__nav{
        
        list-style: none;
        justify-self: start;
        
       
}
        .footer__nav ul{
                list-style: none;
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
                align-items: center;
        }

        .footer__nav ul li{
                padding: 0 10px;

        }

.footer__fleche{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
}

/* Responsive */


@media only screen and (min-width:700px) and (max-width:1153px) {

        
aside{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
       
}


}

@media only screen and (max-width:885px) {


.button__violet{
        width: 120px;
        margin: 0 20px;
        font-size: 12px;
}
.button__white{
        width: 120px;
        margin: 0 20px;
        font-size: 12px;
}

        

main{
        width: 100%;
}
       
article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90%;
  }

.event__entete{
        max-width: 100%;
  }


.event__text{
        width: 100%;
        align-content: center;
}

footer{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        height: 500px;
        width: 100%;              
        align-content: center;
        align-items: center;
}

.footer__nav ul{
        list-style: none;
        display: flex;
        flex-flow: column wrap;

                
}

.footer__newsletter{
        display: flex;
        flex-flow: row wrap;
        margin-left: 40px;
        width: 100%;
        justify-content: center;
}

        .footer__newsletter form{
                width: 100%;
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
        }

        .footer__newsletter p{
                margin-top: 20px;
        }

        .footer__newsletter button{
                margin-top: 20px;
                }        

.footer__socials{
      
        margin: 20px 0px;
        justify-self: start;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: flex-start;
        width:100%;
}

        .footer__socials img{
                padding-top:20px;
        }

.footer__copyright{
        display: flex;
        flex-flow: row-reverse wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
}
        .footer__copyright p{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        }

.footer__nav{
        width: 100%;
}

.nav__menu img{
        display: none;
}



/* .event__footer{
        width: 100%;
}
.event__footer--inscription{
        width: 100%;
        
}

.event__footer--inscription--card{
        width: 100%;
        height: auto;
} */


.event__footer--inscription--card--image img{
        display: none;

}
}